<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>teste</title>
</head>
<body class="bg-[#83A7C9]">
    <div>
        <h1 class="font-bold text-4xl text-black text-center my-10">Lista de Contratos</h1>
        <div>
            <p class="text-center"></p>
            <div class="w-[800px] h-auto bg-white/30 mx-auto space-y-4 p-8">
                <div class="flex items-center justify-center flex-wrap gap-2"></div>
               {{object.id}}
               {{object.imovel}}
               {{object.cliente}}
               {{object.funcionario}}
               {{object.inicio}}
               {{object.situacao}}

        
            {% for contrato in object_list %}
                <p>{{contrato.imovel}}</p>
                <p>{{contrato.cliente}}</p>
                <p>{{contrato.funcionario}}</p>
                <p>{{contrato.inicio}}</p>
                <p>{{contrato.situacao}}</p>
                <a href="{% url 'contrato_detail' contrato.id%}" class="bg-[#08881C]/80 mt-2 block rounded-lg mx-auto hover:bg-[#08881C] px-2">Ver mais</a>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>