<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>teste</title>
</head>
<body>
    <form method="post">
        <div class="grid place-content-center bg-[#5097DA] h-screen">
            <img src="../../static/bootstrap/images/Logo.png" alt="logo">
            <h1 class="font-medium text-4xl text-center mb-10">Cadastro Contrato </h1>
            {% csrf_token %}
        <div class="grid grid-cols-2 gap-x-80">
                <label class="flex flex-col">Imovel
                    {{form.imovel}}
                </label>
                <label class="flex flex-col"> cliente
                    {{form.cliente}}
                </label>
                <label class="flex flex-col">tipo_contrato
                    {{form.tipo_contrato}}
                </label>
                <label class="flex flex-col">inicio
                    {{form.inicio}}
                </label>
                <label class="flex flex-col">termino
                    {{form.termino}}
                </label>
                <label class="flex flex-col">data_vencimento
                    {{form.data_vencimento}}
                </label>
                <label class="flex flex-col">pagamento
                    {{form.pagamento}}
                </label>
        </div>
            <button type="submit" class="mx-auto mt-10 text-white font-medium text-2xl bg-[#20629E] w-96 rounded-3xl grid place-content-center">CONFIRMAR CADASTRO</button>
        </div> 
    </form>

</body>
</html>