{% extends 'base.html' %}
{% load static %}

{% block style %} 
{% endblock %}

{% block main %}
<script src="https://cdn.tailwindcss.com"></script>

<div class="flex flex-col items-center justify-center bg-[#83A7C9] h-screen">
    <h1 class="font-bold text-4xl text-black text-center my-10">Detalhes do cliente</h1>
    <div class="w-[900px] bg-white/30 h-auto  flex justify-between">
    <div class="bg-white/30 w-full h-[300] flex flex-col items-center justify-center">    
        <div class="bg-white/50 w-[400px] h-[300px]  flex flex-col  gap-2">
            <p>NOME:{{object.nome}} </p>
            <p>CPF:{{object.cpf}}</p>
            <!-- <img src="/{{object.imagem}}" class="objeto-imagem w-160 h-160"> -->
            <p>TELEFONE:{{object.telefone}}</p>
            <p>RUA:{{object.rua}}</p>
            <p>CIDADE:{{object.cidade}}</p>
            <p>BAIRRO:{{object.bairro}}</p>
            <p>NUMERO DA CASA:{{object.numero_casa}}</p>
            <p>EMAIL:{{object.email}}</p>
            <p>id:{{object.id}}</p>
        </div>
        <div class="flex justify-center items-center gap-2">
            <a href="{% url 'cliente_update' object.id %}"class="bg-[#08881C]/80 mt-2 block rounded-lg mx-auto hover:bg-[#08881C] px-2" >Editar</a>
            <a href="{% url 'cliente_delete' object.id %}" class="bg-[#08881C]/80 mt-2 block rounded-lg mx-auto hover:bg-[#08881C] px-2">Deletar</a>
        </div>
    </div>
    <img src="/{{object.imagem}}" class="objeto-imagem w-[400px] h-[400px]">
    </div>
    
</div>
{% endblock %}