{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>teste</title>
</head>
{% block main %} 
<body class="bg-[#83A7C9]">   <!-- {{object.id}}{{funcionario.id}} -->
    <div>
        <h1 class="font-bold text-4xl text-black text-center my-10">Lista de Clientes</h1>
        <div>
            <p class="text-center"></p>
            <div class="w-[800px] h-auto bg-white/30 mx-auto space-y-4 p-8">
                        {% for cliente in object_list %}
                        <div class="flex items-center justify-center flex-wrap gap-2">
                            {{object.nome}}
                            {{object.cpf}}
                            {{object.telefone}}
                            {{object.rua}}
                            {{object.cidade}}
                            {{object.bairro}}
                            {{object.numero_casa}}
                            {{object.email}}
                            {{object.senha}}
                            {{object.id}}
                            {{object.imagem}}
                            <p>Nome: {{cliente.nome}}</p>
                            <p>CPF: {{cliente.cpf}}</p>
                                <!-- ver por que não pega imagem {{imovel.imagem.url-->
                                <img src="/{{imovel.imagem}}" class="imovel-imagem w-16 h-16">
                            <p>TELEFONE: {{cliente.telefone}}</p>
                            <p>RUA: {{cliente.rua}}</p>
                            <p>CIDADE: {{cliente.cidade}}</p>
                            <p>BAIRRO: {{cliente.bairro}}</p>
                            <p>NUMERO DA CASA:{{cliente.numero_casa}}</p>
                            <p>EMAIL: {{cliente.email}}</p>
                            <p>SENHA: {{cliente.senha}}</p>
                            <p>id: {{cliente.id}}</p>
                        </div>
                        {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
