<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>teste</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <div class="grid place-content-center bg-[#5097DA] h-screen">
        <img src="../../static/bootstrap/images/Logo.png" alt="logo" class="mx-auto">
        <h1 class="font-medium text-4xl text-center mb-10">Cadastro Cliente</h1>
        {% csrf_token %}
    <div class="grid grid-cols-2 gap-x-80">
            <label class="flex flex-col">Nome
                {{form.nome}}
            </label>
            <label class="flex flex-col"> CPF
                {{form.cpf}}
            </label>
            <label class="flex flex-col">IMAGEM
                {{form.imagem}}
            </label>
            <label class="flex flex-col">TELEFONE
                {{form.telefone}}
            </label>
            <label class="flex flex-col">RUA
                {{form.rua}}
            </label>
            <label class="flex flex-col">CIDADE
                {{form.cidade}}
            </label>
            <label class="flex flex-col">BAIRRO
                {{form.bairro}}
            </label>
            <label class="flex flex-col">NUMERO DA CASA
                {{form.numero_casa}}
            </label>
            <label class="flex flex-col">EMAIL
                {{form.email}}
            </label>
            <label class="flex flex-col"> SENHA
                {{form.password}}
            </label>
    </div>
        <button type="submit" class="mx-auto mt-10 text-white font-medium text-2xl bg-[#20629E] w-96 rounded-3xl grid place-content-center">CONFIRMAR CADASTRO</button>
    </div> 
</form>
</body>
</html>