<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>teste</title>
	</head>
	<body class="bg-[#83A7C9]">
		<div>
			<h1 class="font-bold text-4xl text-black text-center my-10">
				Lista de Items
			</h1>
			<div>
				<p class="text-center"></p>
				<div class="w-[800px] h-auto bg-white/30 mx-auto space-y-4 p-8">
					<div class="flex items-center justify-center flex-wrap gap-2"></div>
					{% for item in object.items.all %}
					<p>{{item.imovel}}</p>
					<p>{{item.valor_parcela}}</p>
					<p>{{item.data_vencimento}}</p>
					<p>{{item.numero}}</p>
					{% if item.status == 'aprovado' %}
					<p style="color: #08881c">{{item.status}}</p>
					{% else %}
					<p>{{item.status}}</p>
					<br />
					<a
						class="bg-[#f5f5f5]/60 py-2 px-4 rounded-[20px] text-white"
						href="/financeiro/pagamento-item/{{object.id}}/{{item.id}}"
						>Pagar</a
					>

					{% endif %} {% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>
