
{% extends 'base.html' %}

{% block main %}
    <div class="bg-[#83A7C9] drop-shadow-xl">
        <div class="flex items-center justify-around w-full gap-2">
            <img class="w-[393px] h-[123px]" src="../../../static/bootstrap/images/Logo.png" alt="logo" />
            <div class="flex list-none gap-10 text-black font-bold text-1xl">
                <button id="dropdowncompra" class="relative">
                    Comprar
                    <div id="compradropdown" class="hidden absolute">
                        <div class="grid grid-cols-2 w-[400px] bg-white p-4 gap-2 rounded-3xl">
                            <!-- <h2 class="text-3xl">Comprar</h2> -->
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Casa">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/casa.png" alt="casa" />
                                Casa
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Apartamento">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/predio.png" alt="predio" />
                                Apartamento
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Terreno">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/terrenos.svg" alt="terreno" />
                                Terreno
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Ponto Comercial">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/bolsa.png" alt="bolsa" />
                                Ponto Comercial
                            </a>
                        </div>
                    </div>
                </button>
                <button id="dropdownalugar">
                    Alugar
                    <div id="alugardropdown" class="hidden absolute">
                        <div class="grid grid-cols-2 w-[400px] bg-white p-4 gap-2 rounded-3xl">
                            <!-- <h2 class="text-3xl">Comprar</h2> -->
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Casa">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/casa.png" alt="casa" />
                                Casa
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Apartamento">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/predio.png" alt="predio" />
                                Apartamento
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Terreno">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/terrenos.svg" alt="terreno" />
                                Terreno
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=PontoComercial">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/bolsa.png" alt="bolsa" />
                                Ponto Comercial
                            </a>
                        </div>
                </button>
                <button id="dropdownvenda">
                    Vender
                    <div id="vendadropdown" class="hidden absolute">
                        <div class="grid grid-cols-2 w-[400px] bg-white p-4 gap-2 rounded-3xl">
                            <!-- <h2 class="text-3xl">Comprar</h2> -->
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Casa">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/casa.png" alt="casa" />
                                Casa
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Apartamento">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/predio.png" alt="predio" />
                                Apartamento
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=Terreno">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/terrenos.svg" alt="terreno" />
                                Terreno
                            </a>
                            <a class="flex flex-col items-center justify-center bg-[#000000]/10 py-2 rounded-2xl" href="imovel/imovel-busca/?categoria=PontoComercial">
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/bolsa.png" alt="bolsa" />
                                Ponto Comercial
                            </a>
                        </div>
                </button>
                
            </div>
            <div class="relative">
               <form action="/imovel/imoveis-busca">
                <input name="busca" class="w-[600px] h-[58px] rounde-xl form-control" type="text" /> 
                <button submit="submit">
                    <img class="absolute right-0 top-2 borde-l border-black border-solid" src="../../../static/bootstrap/images/search.png" alt="search" />
                </button> 
               </form>
            </div>
            <div class="relative">
                <button id="dropdown" class="">
                    <img src="../../../static/bootstrap/images/person.png" alt="person" />
                        <div id="menudropdown" class="hidden absolute right-0 bg-white rounded-xl">
                            <div class="flex flex-col items-start justify-center gap-y-5 p-4">
                            <p class="font-bold text-2xl self-center text-3xl">Usuário</p>
                            <a class="flex items-center gap-6 font-bold text-3xl bg-[#000000]/20 w-[400px] rounded-xl py-2">
                             <img class="w-[50px] h-[50px]" src="../../../static/bootstrap/images/person.png"  alt="person" />  Minhas informações
                            </a>
                            <a class="font-bold text-3xl bg-[#000000]/20 w-full rounded-xl p-2">Pagamentos</a>
                            <a class="flex items-center gap-6 font-bold text-3xl bg-[#000000]/20 w-full rounded-xl p-2"> 
                                <img class="w-[40px] h-[40px]" src="../../../static/bootstrap/images/bolsa.png" alt="bolsa" /> 
                                Minhas propriedades
                            </a>
                            <a class="font-bold text-3xl bg-[#000000]/20 w-full rounded-xl p-2">Contatar a imobiliaria</a>
                            <a class="text-[#FF0000] self-center font-bold" href="{% url 'logout' %}"> Sair </a>    
                        </div>
                        </div>
                </button>
            </div>
        </div>
    </div>
    {% for imovel in list %}
<div class="flex">
    <div class="bg-[#577B9B] h-screen w-44 ">
        
    </div>
    <div class="bg-[#83A7C9] w-full p-8 ">
        <div class="bg-white/30 flex items-center justify-center p-4 gap-4 rounded-2xl">
            <div class="">
                <img class="h-full w-auto object-fill" src="/{{imovel.imagem}}"/>
            </div>
            <div class="flex flex-col gap-8 ">
                <div class="">
                    <img class="object-contain" src="../../../static/bootstrap/images/living-room.png" alt="living-room" />
                </div>
                <div class="">
                    <img src="../../../static/bootstrap/images/kitchen.png" alt="kitchen" />
                </div>
            </div>
            <div class="bg-white/50 bg-white/30 p-4 w-[400px]">
                <h1 class="font-semibold text-2xl mb-4"> {{imovel.rua}}</h1>
                    <h3>{{imovel.bairro}}</h3>
                    <h3>{{imovel.cidade}}</h3>
                    <h3>{{imovel.numero}}</h3>
                <div class="flex items-center justify-start gap-2 mb-4 ">
                    <p class="flex items-center justify-center gap-2 border-r-2 border-solid border-black pr-2">
                        <img class="w-[30px] h-[30px] text-2xl font-bold" src="../../../static/bootstrap/images/casa.png" alt="casa" />
                        Casa
                    </p>
                    <p class="flex items-center justify-center gap-2 border-r-2 border-solid border-black pr-2">
                        <img class="w-[30px] h-[30px] text-2xl font-bold" src="../../../static/bootstrap/images/casa.png" alt="casa" />
                        2
                    </p>
                    <p class="flex items-center justify-center gap-2 ">
                        <img class="w-[30px] h-[30px] text-2xl font-bold" src="../../../static/bootstrap/images/casa.png" alt="casa" />
                        4
                    </p>
                </div>
                <p class="font-semibold">{{imovel.descricao}}</p>
                <div class="flex items-center justify-between mt-10">
                    <a href="#" class="bg-[#08881C]/60 py-2 px-4 rounded-[20px] text-white">{{imovel.valor}}</a>
                    <button class="flex flex-col items-center justify-center">
                        <img src="../../../static/bootstrap/images/heart.svg" alt="heart" />
                        Favoritar
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}