{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
</head>
{% block main %} 
<body>
    <table> 
        <thead>
            <tr>
                <th>{{object.id}}</th>
                <th>{{object.area}}</th>
                <th>{{object.rua}}</th>
                <th>{{object.bairro}}</th>
                <th>{{object.cidade}}</th>
                <th>{{object.numero}}</th>
                <th>{{object.valor}}</th>
                <th>{{object.categoria}}</th>
                <th> {{object.imagem}}</th>
                <th>{{object.descricao}}</th>
            </tr>
        </thead>
        <tbody>
            {% for imovel in object_list %}
            <tr>
                <td>{{imovel.id}}</td>
                <td>{{imovel.area}}</td>
                <td>{{imovel.rua}}</td>
                <td>{{imovel.bairro}}</td>
                <td>{{imovel.cidade}}</td>
                <td>{{imovel.numero}}</td>
                <td>{{imovel.valor}}</td>
                <td>{{imovel.categoria}}</td>
                <td>{{imovel.descricao}}</td>
                <td>
                    <!-- ver por que não pega imagem {{imovel.imagem.url-->
                    <img src="/{{imovel.imagem}}" height="300" width="300">
                </td>
            </tr>

            {% empty %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Aviso - </strong> Sem registros
        </div>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
</html>