{% extends 'base.html' %}
{% load static %}

{% block style %} 
    <style> 
        .objeto-imagem{
            width:100px;
            height:100px;
        }
    </style>
{% endblock %}

{% block main %} 
<script src="https://cdn.tailwindcss.com"></script>

<div class="flex flex-col items-center justify-center bg-[#83A7C9] h-screen">
    <h1 class="font-bold text-4xl text-black text-center my-10">Detalhes do imovel</h1>
    <div class="w-[900px] bg-white/30 h-auto grid grid-cols-3 gap-2">
        <p>AREA:{{object.area}}</p>
        <p>RUA:{{object.rua}}</p>
        <p>BAIRRO:{{object.bairro}}</p>
        <p>CIDADE:{{object.cidade}}</p>
        <p>NUMERO:{{object.numero}}</p>
        <p>VALOR:{{object.valor}}</p>
        <p>CATEGORIA:{{object.categoria}}</p>
        <p>DESCRIÇÃO:{{object.descricao}}</p>
        <img src="/{{object.imagem}}" class="objeto-imagem w-160 h-160 hover:scale-150 "> 
    </div>
    
</div>

{% endblock %}