{% extends 'base.html' %}
{% load static %}

{% block style %} 
    <style> 
        .imovel-imagem{
            width:60px;
            height:60px;
        }
    </style>
{% endblock %}

{% block main %}     
    <!-- Botão para sair da tela de lista-->
    <a href="http://localhost:8000/" class="bg-[#08881C]/60 py-2 px-4 rounded-[20px] text-white">Sair</a>


    <table> 
        <thead>
            <tr>
                <th>{{object.id}}</th>
                <th>{{object.area}}</th>
                <th>{{object.rua}}</th>
                <th>{{object.bairro}}</th>
                <th>{{object.cidade}}</th>
                <th>{{object.valor}}</th>
                <th>{{object.categoria}}</th>
                <th> {{object.imagem}}</th>
            </tr>
        </thead>
        <tbody>
            {% for imovel in object_list %}
            <tr>
                <td>
                    <!-- icone falta -->
                    <a href="{% url 'imovel_detail' imovel.id%}">{{imovel.id}}</a>
                </td>
                <td>{{imovel.area}}</td>
                <td>{{imovel.rua}}</td>
                <td>{{imovel.bairro}}</td>
                <td>{{imovel.cidade}}</td>
                <td>{{imovel.numero}}</td>
                <td>{{imovel.valor}}</td>
                <td>{{imovel.categoria}}</td>
                <td>
                    <!-- ver por que não pega imagem {{imovel.imagem.url-->
                    <img src="/{{imovel.imagem}}" class="imovel-imagem w-16 h-16">
                </td>
            </tr>

            {% empty %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Aviso - </strong> Sem registros
        </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}




